.about {
	display: grid;
	grid-template-columns: [full-start] minmax(14rem, auto) [col-start] repeat(12, minmax(6.5rem, 12rem)) minmax(14rem, auto) [full-end];
	grid-template-rows: max-content;
	grid-column-gap: 3rem;
	background-color: #edf3f8;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.about_hero {
	grid-column: 3 / 14;
}

.about_title {
	max-width: 73rem;
	font-size: var(--fs-750);
	font-family: "DM Serif Display";
	line-height: 56px;
	letter-spacing: -0.43px;
	color: #36536b;
	margin-top: 8rem;
}

.sub_text_container {
	display: flex;
	margin-top: 5.1rem;
}

.sub_tile {
	font-size: var(--fs-350);
	font-family: "DM Serif Display";
	letter-spacing: -0.25px;
	line-height: 40px;
	color: #36536b;
}
.sub_text {
	line-height: 2.5rem;
	max-width: 63.5rem;
	margin-left: auto;
	color: #6c8294;
	margin-right: 9.5rem;
}

.img_container_about {
	// display: grid;
	grid-column: 1 / -1;
	outline: 1px solid red;
	// position: relative;
	// height: 40rem;
	// padding-top: 10rem;
	background-color: #edf3f8;
	background-color: purple;
	height: 50rem;
}

.about_image_bg {
	z-index: 2;
	background-image: url("../../assets/about/desktop/image-team-members.png");
	background-repeat: no-repeat;
	background-size: 100%;
	// height: 50rem;
	height: 100%;
}

.img_circle_bg {
	// position: absolute;
	// height: 78rem;
	// width: 78rem;
	// top: -6rem;
	// left: -52rem;
	// z-index: 0;
}

.features_container {
	grid-column: 2 / 14;
	// background-color: red;
}
