.sponsors {
	grid-column: full-start / full-end;
	background-color: #1b262f;

	display: grid;
	height: 47.2rem;
	grid-template-columns: [full-start] minmax(14rem, auto) [col-start] repeat(12, minmax(6.5rem, 12rem)) minmax(14rem, auto) [full-end];
	grid-template-rows: max-content;
	grid-column-gap: 3rem;
	position: relative;
	overflow: hidden;
}

.bg_sponsors {
	background-image: url("../../../../assets/shared/desktop/bg-pattern-circle.svg");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 78rem;
	height: 78rem;
	position: absolute;
	left: -24rem;
	bottom: 5.1rem;
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column: 2 / 14;
	grid-template-areas: "text_area logos_area";
}

.text_container {
	// grid-column: 2 / 8;
	height: 47.2rem;
	grid-area: text_area;
	z-index: 1;
}

.logos_container {
	// grid-column: 8 / 14;
	// background-color: aquamarine;
	height: 47.2rem;
	grid-area: logos_area;
}

.sponsors_title {
	margin: 10rem 0 2.4rem 0;
	font-size: var(--fs-700);
	color: #fbfcfe;
	line-height: 56px;
	letter-spacing: -0.37px;
	font-family: "DM Serif Display";
}

.text_pitch {
	max-width: 45rem;
	line-height: 28px;
	color: #fbfcfe9c;
	margin-bottom: 3.2rem;
}

.btn_about_us {
	width: 12rem;
	height: 4.8rem;
	border-radius: 2.4rem;
	color: #fbfcfe;
	font-weight: 700;
	background-color: transparent;
	border: 1px solid #fbfcfe;
}

.btn_about_us:hover {
	background-color: #fff;
	color: #1b262f;
}

.logos_container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-content: center;
	gap: 4.5rem 6rem;
	height: 100%;
}
