.contact {
	display: grid;
	grid-template-columns: [full-start] minmax(14rem, auto) [col-start] repeat(12, minmax(6.5rem, 12rem)) minmax(14rem, auto) [full-end];
	grid-template-rows: max-content;
	grid-column-gap: 3rem;
	background-color: var(--clr-grey-300);
	background-color: #edf3f8;
	height: 100%;
	position: relative;
	overflow: hidden;
	// only for development
}

.contact_title {
	margin-top: 8.2rem;
	grid-column: 2 / 14;
	max-width: 64.5rem;
	font-family: "DM Serif Display";
	color: #36536b;
	font-size: var(--fs-750);
	line-height: 56px;
	letter-spacing: -0.43px;
}

.context_container {
	grid-column: 2 / 14;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	height: 50rem;
	margin-top: 4.3rem;
}

.form_container {
	// background-color: saddlebrown;
	width: 44.5rem;
}
.sponsors_container {
	background-color: salmon;
}

.form_group {
}

.input_el {
	height: 2.9rem;
	width: 100%;
	padding: 0 0 1.6rem 2rem;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #36536b7e;
	margin-bottom: 2.4rem;
}

.textarea_el {
	display: block;
	width: 100%;

	padding-left: 2rem;
	height: 9rem;
	background-color: transparent;
	border: none;
	resize: none;
	border-bottom: 1px solid #36536b7e;
	margin-bottom: 2.4rem;
}

.agreement_container {
	display: flex;
	align-items: center;
	gap: 2.6rem;
	margin-bottom: 2.4rem;
}

.checkbox_el {
	width: 2.4rem;
	height: 2.4rem;
}

.agreement_text {
	letter-spacing: -0.12px;
	line-height: 2.5rem;
	color: #36536b;
}

.btn_sub {
	width: 15.2rem;
	height: 4.8rem;
	border-radius: 2.4rem;
	background-color: transparent;
	border: 1px solid #36536b;
	color: #36536b;
}

.wrapper_container {
	grid-column: 2 / 14;
}
