.contact {
	display: grid;
	grid-template-columns: [full-start] minmax(14rem, auto) [col-start] repeat(12, minmax(6.5rem, 12rem)) minmax(14rem, auto) [full-end];
	grid-template-rows: max-content;
	grid-column-gap: 3rem;
	background-color: var(--clr-grey-300);
	background-color: #edf3f8;
	height: 100%;
	position: relative;
	overflow: hidden;
	// only for development
}

.contact_title {
	margin-top: 8.2rem;
	grid-column: 2 / 14;
	max-width: 64.5rem;
	font-family: "DM Serif Display";
	color: #36536b;
	font-size: var(--fs-750);
	line-height: 56px;
	letter-spacing: -0.43px;
}

.context_container {
	grid-column: 2 / 14;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	height: 50rem;
	margin-top: 4.3rem;
}

.form_container {
	// background-color: saddlebrown;
	width: 44.5rem;
}
.sponsors_container {
}

.form_group {
	width: 100%;
}

.input_el {
	height: 2.9rem;
	width: 100%;
	padding: 0 0 1.6rem 2rem;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #36536b7e;
	margin-bottom: 2.4rem;
}

.textarea_el {
	display: block;
	width: 100%;

	padding-left: 2rem;
	height: 9rem;
	background-color: transparent;
	border: none;
	resize: none;
	border-bottom: 1px solid #36536b7e;
	margin-bottom: 2.4rem;
}

.agreement_container {
	display: flex;
	align-items: center;
	gap: 2.6rem;
	margin-bottom: 2.4rem;
}

.checkbox_el {
	width: 2.4rem;
	height: 2.4rem;
}

.agreement_text {
	letter-spacing: -0.12px;
	line-height: 2.5rem;
	color: #36536b;
}

.btn_sub {
	width: 15.2rem;
	height: 4.8rem;
	border-radius: 2.4rem;
	background-color: transparent;
	border: 1px solid #36536b;
	color: #36536b;
}

.wrapper_container {
	grid-column: 2 / 14;
}

.sponsors_title {
	color: #36536b;
	font-size: var(--fs-620);
	letter-spacing: -0.18px;
	line-height: 32px;
	margin-bottom: 4rem;
}

.sponsors_icons_container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 4rem 6rem;
}
.sponsors_wrapper {
	margin-top: 10.5rem;
	max-width: 54rem;
	height: 20.8rem;
}

.bg_about_header {
	background-image: url("../../assets/shared/desktop/bg-pattern-circle.svg");
	background-size: 100%;
	width: 78rem;
	height: 78rem;
	background-repeat: no-repeat;
	position: absolute;
	top: -60rem;
	right: -20rem;
	z-index: 0;
}
@media (max-width: 64em) {
	.contact {
		grid-template-columns: [full-start] minmax(4rem, auto) [col-start] repeat(12, minmax(4.8rem, 12rem)) minmax(4rem, auto) [full-end];
		grid-column-gap: 1rem;
	}

	.contact_title {
		margin-top: 7.5rem;
		justify-self: center;
		text-align: center;
		width: 50rem;
		font-size: var(--fs-800-t);
		letter-spacing: -0.37px;
	}

	.context_container {
		grid-column: 2 / 14;
		display: grid;
		grid-template-columns: 1fr;
		// grid-auto-flow: row;
		height: 100%;
		margin-top: 5rem;
		align-content: center;
		justify-items: center;
	}

	.sponsors_wrapper {
		margin-top: 6.4rem;
		width: 100%;
		height: 20.8rem;
	}
	.sponsors_title {
		text-align: center;
	}

	.bg_about_header {
		top: -55rem;
		right: -45rem;
		z-index: 0;
	}
}

@media (max-width: 30em) {
	.contact {
		grid-template-columns: [full-start] minmax(1rem, auto) [col-start] repeat(12, minmax(2rem, 12rem)) minmax(1rem, auto) [full-end];
		grid-column-gap: 1rem;
	}

	.contact_title {
		margin-top: 4.8rem;
		width: 100%;
		font-size: var(--fs-800-s);
		letter-spacing: -0.37px;
	}
	.context_container {
		grid-column: 2 / 14;
		grid-template-columns: 1fr;
		height: 100%;

		// align-items: center;
		margin-top: 4.3rem;
	}

	.form_container {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin: 0 5%;
	}

	.sponsors_icons_container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 4rem 6rem;
	}
	.sponsors_wrapper {
		margin-top: 10.5rem;
		margin-bottom: 8rem;
		width: 100%;
		height: 28rem;
	}

	.input_el {
		width: 100%;
	}

	.sponsors_title {
		font-size: var(--fs-700-s);
		width: 32rem;
		margin-bottom: 3.2rem;
	}

	.textarea_el {
		width: 100%;
	}

	.agreement_container {
		width: 100%;
	}
	.bg_about_header {
		top: -65rem;
		right: -50rem;
		z-index: 0;
	}
}
