.home {
	display: grid;
	grid-template-columns: [full-start] minmax(14rem, auto) [col-start] repeat(12, minmax(6.5rem, 12rem)) minmax(14rem, auto) [full-end];
	grid-template-rows: max-content;
	grid-column-gap: 3rem;
	background-color: var(--clr-grey-300);
	background-color: #edf3f8;
	min-height: 100vh;
}

// / 760px 1024px
@media (max-width: 64em) {
	.home {
		grid-template-columns: [full-start] minmax(4rem, auto) [col-start] repeat(12, minmax(4.8rem, 12rem)) minmax(4rem, auto) [full-end];
		grid-column-gap: 1rem;
		background-color: var(--clr-grey-300);
	}
}

// 375 -480px
@media (max-width: 30em) {
	.home {
		grid-template-columns: [full-start] minmax(1rem, auto) [col-start] repeat(12, minmax(2rem, 12rem)) minmax(1rem, auto) [full-end];
		grid-column-gap: 1rem;
	}
}
