.newsletter {
	margin-top: 9.6rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.newsletter_text {
	font-family: "DM Serif Display";
	font-weight: 400;
	line-height: 56px;
	letter-spacing: -0.37px;
	font-size: var(--fs-700);
	color: #36536b;
}

.newsletter_input_container {
	position: relative;
}
.newsletter_input {
	width: 44.5rem;
	height: 4.8rem;
	border-radius: 2.4rem;
	padding-left: 2.3rem;
	border: none;
}
.btn_newsletter {
	position: absolute;

	right: 0;
	width: 17.3rem;
	height: 4.8rem;
	letter-spacing: -0.12px;
	background-color: var(--clr-pink-400);
	border-radius: 2.4rem;
}

.menu_modal {
	position: absolute;
	z-index: 2;
	height: 25.6rem;
	background-color: #fff;
	top: 6.8rem;
	left: 0;
	right: 0;
}

.list_modal {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	margin-top: 3.2rem;
	// background-color: gainsboro;
}

.span_text {
	font-size: var(--fs-700-s);
	margin-bottom: 2rem;
}
.modal_line {
	width: 90%;
	height: 1px;
	background-color: var(--clr-grey-400);
	margin: 1.2rem auto;
}

.link_cta {
	display: flex;
	width: 90%;
	margin: 0 auto;
	margin-top: 2.5rem;
}

// / 760px 1024px
@media (max-width: 64em) {
	.newsletter {
		margin-top: 9.6rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}
	.newsletter_text {
		margin-bottom: 4rem;
	}
}

@media (max-width: 30em) {
	.newsletter_input_container {
		position: relative;
		width: 100%;
	}
	.newsletter_input {
		width: 100%;
	}

	.btn_newsletter {
		position: unset;
		margin-top: 1.6rem;
		width: 100%;
	}
}
